body {
    font-size: 16px;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    line-height: 1;
    /* 단어단위로 줄바꿈 설정 word-break */
    word-break: keep-all;
}

/* Header */

header {
    background-color: #3A3A3A;
}


header .inner {
    max-width: 1020px;
    margin: 0 auto;
}


header ul.menu {
    height: 44px;
    display: flex;
    justify-content: space-between;
}

header ul.menu > li {
    position: relative;
    display: flex;
}

header ul.menu > li > a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
    opacity: .8;
}

header ul.menu > li.apple-logo a,
header ul.menu > li.search-starter a,
header ul.menu > li.basket-starter a {
    width: 14px;
    height: 50px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center 13px;
    /* background-color: wheat; */
}

header ul.menu > li.apple-logo a {
    background-image: url("../../images/header_apple.svg");
}

header ul.menu > li.search-starter a {
    background-image: url("../../images/header_search.svg");
}

header ul.menu > li.basket-starter a {
    background-image: url("../../images/header_bag.svg");
}

header ul.menu li a:hover {
    opacity: 1;
}

/* Header /Menu / Basket*/

header .basket {
    width: 290px;
    padding: 10px 20px;
    border : 1px solid #D2D2D2;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FFF;
    position: absolute;
    top: calc(100% + 4px);
    right: -6px;
}


header .basket .message {
    
}

header .basket ul {
    
}

header .basket ul li {
    
}

header .basket ul li a {
    
}