.square {
    justify-content: center;
    background-color: white;
    border : 1px solid #999;
    font-size : 24px;
    height: 150px;
    /* margin-right: -1px; */
    /* margin-top: -5px; */
    padding: 0;
    text-align: center;
    width: 150px;
}